<div class="item-content">
        <div class="item-title">
            <div class="item-name-wrapper">
                <div class="item-name-jeans">
                    <h2>Jeans</h2>
                    <img src="../../../assets/57f41cc356251c920c601f9c82f8b842.jpg" >
                </div>
                <div>
                    <p>
                        Size: M
                    </p>
                </div>
                <div>
                    <p>
                     Description: Thin jean for every day.
                    </p>
             </div>
             <div>
                <p>
                    Gender: Male
                </p>
            </div>
                <div>
                    <p>

                        Price: 40 BGN
                    </p>
                </div>

                <div class="button-holder">
                    <button type="submit" class="buy">Buy</button>
                </div>
            </div>
            <div class="item-name-wrapper">
                <div class="item-name-jacket">
                    <h2>Jacket</h2>
                    <img src="./../../../assets/jacket.jpg" >
                </div>
                <div>
                    <p>
                        Size: S
                    </p>
                </div>
                <div>
                    <p>
                     Description: Beautiful leather jacket for special days.
                    </p>
             </div>
             <div>
                <p>
                    Gender: Male
                </p>
            </div>
                <div>
                    <p>

                        Price: 30 BGN
                    </p>
                </div>

                <div class="button-holder">
                    <button type="submit" class="buy">Buy</button>
                </div>
            </div>
            <div class="item-name-wrapper">
                <div class="item-name-shirt">
                    <h2>T-shirt</h2>
                    <img src="./../../../assets/index.jpg" >
                </div>
                <div>
                    <p>
                        Size: L
                    </p>
                </div>
                <div>
                    <p>
                     Description: T-shirt for every day.
                    </p>
             </div>
             <div>
                <p>
                    Gender: Male
                </p>
            </div>
                <div>
                    <p>

                        Price: 25 BGN
                    </p>
                </div>

                <div class="button-holder">
                    <button type="submit" class="buy">Buy</button>
                </div>
            </div>
            <div class="item-name-wrapper">
                <div class="item-name-sport">
                    <h2>Sports wear</h2>
                    <img src="./../../../assets/adidas.jpg" >
                </div>
                <div>
                    <p>
                        Size: XS
                    </p>
                </div>
                <div>
                    <p>
                     Description: sports wear for every day.
                    </p>
             </div>
             <div>
                <p>
                    Gender: Unisex
                </p>
            </div>
                <div>
                    <p>

                        Price: 130 BGN
                    </p>
                </div>

                <div class="button-holder">
                    <button type="submit" class="buy">Buy</button>
                </div>
            </div>
        </div>
    </div>

 