h1,span, form {
    background: black;
    background: grey;
    text-align: center;
    
}

hr {
    width: 30%;
}

small {
    font-size: 15px;
    color: red;
}
.form-group input {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    height: 36px;
    background: gray;
    padding: 0 7px 0 43px;
}

.label-holder {
    font-size: 20px;
}

.button-holder {
    color: black;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    margin-top: 1.5rem;
    outline: none;

}

.button-holder button {
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    
    padding: 5px 25px;
    background: black;
    color: white;
}


.button-holder h3 a {
    color: black;
}