<form  #f="ngForm" class="register-user" (ngSubmit)="submitHandler(f.value)">
    <h1><span>Register Form</span></h1>
    <hr/>
        <div class="form-group">
            <div>
                <label for="username">Username</label>
            </div>
            <input #userUsername="ngModel" [class.input-error]="userUsername.touched && !!userUsername.errors"  type="text" class="username" id="username"
                   name="username" ngModel />
                </div>
                       <small *ngIf="userUsername.touched && userUsername.errors?.required"  class="error">Incorrect
                       username!</small>
        <div class="form-group">
            <div>
                <label for="email" class="email">Email</label>
            </div>
            <input #userEmail="ngModel" [class.input-error]="userEmail.touched && !!userEmail.errors"  type="email" class="form-control" id="email"
                   name="email" ngModel />
                </div>
                <small *ngIf="userEmail.touched && userEmail.errors?.required" class="error">Incorrect email!</small>
        <div class="form-group">
            <div>
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input #userPassword="ngModel" [class.input-error]="userPassword.touched && !!userPassword.errors"  type="password" class="form-control" id="password"
                   name="password" ngModel  />
                </div>
                       <small *ngIf="userPassword.touched && userPassword.errors?.required"  class="error">Incorrect
                       pasword!</small>
        <div class="form-group">
            <div>
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input #userConfirmPassword="ngModel" [class.input-error]="userConfirmPassword.touched && !!userConfirmPassword.errors" type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel appSubmitOnValid/>

        </div>
        <div class="button-holder">
            <button type="submit" class="btn btn-secondary text-white mb-3" value="Register">Register</button>
            <app-loader [isLoading]="isLoading"></app-loader>
            <h3>
                <a class="text-primay" href="/user/login">Login if you already have an account</a> 
            </h3>
        </div>
    </form>