<form class="profile-form">
    <div class="profile">
        <h2>Martin's Profile</h2>
    </div>
    <hr>
    <div class="input-group">
        <label for="name" >
            Username
        </label>
    </div>
    <input disabled id="name" name="name" type="text" placeholder="Marto98">
    <div class="input-group">
        <label for="email">Email
        </label>
    </div>
    <input disabled id="email" name="email" type="text" placeholder="angelovv98@gmail.com"
    data-large-mode="true">
    <div class="input-group">
        <label for="git">Github Address
        </label>
    </div>
    <input disabled id="git" name="git" type="text" placeholder="github.com/Mangelov98" >
</form>