<main>
    <div *ngIf="isLogged"  class="container">
        <h1>Welcome</h1>
        <hr class="my-3"/>
        <p class="h4">On our website you will find the best clothes for every season of year.</p>
        <hr class="my-3"/>
    </div>   
    <div class="sec-container" *ngIf="!isLogged">
        <h1>Welcome</h1>
        <hr class="my-3"/>
        <h2 class="h4">To see what we offer please, </h2>
        <hr class="my-3"/>
        <h3 >
            <a class="text-primay" href="/user/login">Login</a>
            if you have an account or
            <a class="text-primay" href="/user/register">Register</a>
            now and check our deals.
        </h3>
    </div>
    
</main>